@import "../../../../variables";

.aspect-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: box;
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    button, p {
        
        font-size: clamp(.8rem, 8cqi, 1.8rem);
    }
}