@import "../../variables";

.filter-aspect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    .select-container {
        height: 100%;
        border-bottom: solid #e1e1ec .5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        p {
            color: $font-color;
            position: absolute;
            top: 0;
            padding:5% 10%;
            font-size: 1rem;
        }
        svg {
            position: absolute;
            right: 5%;
            padding-top: 5%;
            color: $primary;
        }
        select {
            cursor: pointer;
            z-index: 1;
            background-color: transparent;
        border: none;
        font-family: roboto;
        font-weight: 500;
        width: 100%;
        height: 100%;
        color: rgb(83, 82, 88);
        padding:5% 10% 0 10%;
        font-size: 1rem;
        -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        
    }
    
}
.filter-benchmark {
    display: flex;
    flex-direction: row;
    background-color: white;
    .select-container {
        width: 100%;
        border-bottom: solid #e1e1ec .5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        p {
            color: $font-color;
            position: absolute;
            top: 10%;
            left: 10%;
            font-size: 1rem;
        }
        svg {
            position: absolute;
            color: $primary;
            right: 5%;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        select {
            padding:15% 10%;
            width: 100%;
            cursor: pointer;
            z-index: 1;
            background-color: transparent;
            border: none;
            border-right: solid $grey 1px;
            font-family: roboto;
            font-weight: 500;
            color: rgb(83, 82, 88);;
            font-size: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        
    }
    
}