@import "../../../variables";

.aspect-subscription {
    background-color: white;
    color: $font-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15%;
    container-type: inline-size;
    img {
        align-self: center;
        width: 60%;
        columns: $primary;
    }
    .subscription-content {
        padding: 5% 0;
        h2 {
            font-size: clamp(1rem, 10cqi, 1.8rem);
            font-weight: 600;
        }
        p {
            font-size: clamp(.7rem, 6cqi, 1.3rem);
        }
    }
    
    button {
        white-space:nowrap;
        cursor: pointer;
        align-self: flex-start;
        background: $gradient;
        border: none;
        font-family: roboto;
        color: white;
        font-weight: 800;
        padding: .5em 1.5em;
        border-radius: 10px;
        font-size: clamp(.7rem, 6cqi, 1.5rem);
    }
}