@import "../../variables";

$icon-padding: 1em;

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: white;
    .logout {
        margin-bottom: 2rem;
    }
    .sidebar__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc($icon-padding * 3);
    }
    .sidebar__section {
        font-size: 1.5rem;
        color: $grey;
        a {
            margin-left: calc($icon-padding - .5em);
            padding: $icon-padding 1.5em $icon-padding $icon-padding;
        }
    }
    .logo {
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        background: -webkit-linear-gradient(45deg, $primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    .active {
        height: 100px;
  width: 325px;
  background-color: $background;
  border-radius: 25px 0 0 25px;
  position: relative;
        
    }
    .active::before {
        content: "";
        position: absolute;
        
        background-color: transparent;
        bottom: -50px;
        right: 0;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 0 $background;
    }
    .active::after {
        content: "";
        position: absolute;
        
        background-color: transparent;
        top: -50px;
        right: 0;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 0 $background;
        scale: -1;
        transform: scaleX(-1)
    }
    a {
        text-decoration: none;
        color: $grey;
    }
}