@import "../../../variables";

.aspect-period {
    padding: 5%;
    height: auto;
    background-color: white;
    color: $font-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: box;
    .timeline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2%;
        > * {
            padding-bottom: 0;
        }
        select {
            background: $gradient;
            border-radius: 5px;
            padding: 0.5em 1.5em;
            font-family: roboto;
            border: none;
            color: white;
            font-weight: 600;
        }
    }
}