@import "../../../variables";

.aspect-period {
    padding: 5%;
    height: auto;
    background-color: white;
    color: $font-color;
    .timeline {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        select {
            background-color: transparent;
            font-family: roboto;
            border: none;
            color: $font-color;
            font-weight: 400;
        }
    }
}